body {
  margin: 0;
  background: #ededed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

header {
  background: #4b74aa;
  color: #fff;
}

nav {
  padding: 1rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  padding: 6px 30px;
  background: #ededed;
  color: #326;
}

nav ul ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin: 0;
  top: 33px;
  display: none;
}

nav ul ul li {
  width: 30rem;
  padding-bottom: 10px;
}

nav ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li:hover ul li a {
  background-color: red;
  padding-left: 1px;
}

nav ul li:hover ul ul {
  display: none;
}

nav ul li:hover ul li:hover ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 105px;
}

nav ul ul li ul li {
  width: 150px;
}
